.container {
  max-width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0 25px;
  .searchBox {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
