.container {
  width: 100%;
  font-family: Alibaba-Regular, sans-serif;
  .title {
    color: var(--font-color);
    font-size: 18px;
    display: flex;
    align-items: center;
  }
  .lines {
    width: 100%;
    height: 470px;
    overflow-y: auto;
    color: var(--font-gray-color);
    font-size: 16px;
    .line {
      background-color: rgb(247, 248, 251);
      margin: 10px 0;
      border-radius: 4px;
      padding: 0 15px;
      height: 46px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .icon {
        span {
          font-size: 16px;
          cursor: pointer;
          margin: 0 5px;
        }
      }
    }
  }
}
