.treeTable {
  width: 100%;
  display: flex;
  .tree {
    width: calc(40% - 50px);
    border: 1px solid #eee;
    padding: 10px;
    height: 600px;
    overflow-y: scroll;
    border-radius: 5px;
    .treeList {
      min-height: 550px;
    }
  }
  .actions {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    .import {
      width: 100%;
      text-align: center;
    }
    .arrow {
      height: 30px;
      cursor: pointer;
    }
  }
  .table {
    width: calc(60% - 50px);
    border: 1px solid #eee;
    padding: 10px;
    border-radius: 5px;
  }
}
